# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym
*.o
*.o.d
cscope.*
/GPATH
/GRTAGS
/GTAGS
# Library archives
*.a
# Emacs backup
*~
# Statistics from builds
size.report
# Build system output
.obj
bin
#
Kernel/platform-rpipico/build
Kernel/platform-rpipico/.vscode/
Kernel/platform-rpipico/uf2conv
Kernel/platform-rpipico/filesystem.*
Applications/**/*.debug
Library/libs/fuzixarmm0/*.S
Applications/V7/cmd/ed
Applications/V7/cmd/pg
Applications/V7/cmd/sh/fsh
Applications/V7/cmd/tty
Applications/cursesgames/invaders
Applications/games/advint
Applications/games/cowsay
Applications/games/fortune-gen-linux
Applications/games/fortune.dat
Applications/games/hamurabi
Applications/games/startrek
Applications/games/z1
Applications/games/z2
Applications/games/z3
Applications/games/z4
Applications/games/z5
Applications/games/z8
Library/libs/fuzixarmm0/Makefile
Library/libs/helpers_armm0.s
Library/libs/longjmp_armm0.s
Library/libs/marmm0.lib
Library/libs/readlinearmm0.lib
Library/libs/setjmp_armm0.s
Library/tools/syscall_armm0
Standalone/elf2flt
Standalone/mkftl

